<div class="container" *ngIf="pacijent">
<form #pacijentEditForm="ngForm">

  <div class="topForm">
  <div class="form" margin-top="5%">
    <div class="row">
      <div class="column">
        <mat-form-field>
          <input name="ime" required matInput [(ngModel)]="pacijent.ime" placeholder="Ime"/>
        </mat-form-field>
      </div>
      <div class="column2">
        <mat-form-field>
          <input name="prezime" required matInput [(ngModel)]="pacijent.prezime" placeholder="Prezime"/>
        </mat-form-field>
      </div>
    </div>
  </div>
  </div>

  <div class="form">
      <mat-form-field>
        <input name="datumRodjenja" required matInput [matDatepicker]="picker" placeholder="Datum rođenja" [(ngModel)]="pacijent.datumRodjenja" name="datumRodjenja">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field>
      <input name="adresa" required matInput [(ngModel)]="pacijent.adresa" placeholder="Adresa"/>
    </mat-form-field>
  </div>

  <div class="form" [class.has-error]="email.invalid && email.touched">
    <div class="row">
      <div class="column">
        <mat-form-field>
          <input id="email" required email matInput name="email" [(ngModel)]="pacijent.email" placeholder="Email" #email="ngModel"/>
          <span class="help-block" *ngIf="email.errors?.email && email.touched">
            Email is invalid
          </span>
        </mat-form-field>
      </div>
      <div class="column2">
        <mat-form-field>
          <input name="kontakt" matInput [(ngModel)]="pacijent.kontakt" placeholder="Kontakt"/>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form">
    <mat-form-field>
      <input name="ukupno" matInput [(ngModel)]="pacijent.ukupno" placeholder="Ukupno"/>
    </mat-form-field>
  </div>

  <div class="form">
      <mat-form-field>
        <input name="datumUpisa" required matInput [matDatepicker]="pickerUpis" placeholder="Datum upisa" [(ngModel)]="pacijent.datumUpisa" name="datumUpisa">
        <mat-datepicker-toggle matSuffix [for]="pickerUpis"></mat-datepicker-toggle>
        <mat-datepicker #pickerUpis></mat-datepicker>
      </mat-form-field>
  </div>

  <div class="form">
    <mat-form-field>
      <input name="napomena" matInput [(ngModel)]="pacijent.napomena" placeholder="Napomena"/>
    </mat-form-field>
  </div>

  <span><font size="2">Polja sa zvezdicom (*) su obavezna.</font></span>
  <br>
  <button mat-button (click)="goBack()">Nazad</button>
  <button mat-button [disabled]="!pacijentEditForm.valid" (click)="save()">Sačuvaj</button>
</form>
</div>